<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let episode of episodes">
        <app-episodes [episode]="episode"></app-episodes>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 mt-5 container-notFound" *ngIf="episodes.length <= 0">
        <p>No results...</p>
    </div>
</div>

<button 
[ngClass]="'no-hidden'"
*ngIf="showGoUpButton"
class="btn btn-dark"
(click)="onScrollUp()"
>
    Go Up
</button>
