<div class="row justify-content-center mt-3" *ngIf="episode$ | async as episode">
    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 justify-content-center">
        <app-episodes [episode]="episode"></app-episodes>
    </div>
    
</div>

<button class="btn btn-dark btn-lg mt-3" (click)="goBack()" >
    Back
</button>
