html{
    scroll-behavior: smooth;
}


.container{
    margin-top: 4rem;
}

.card{
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.2 ease-out;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: #fff;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    &:hover{
        box-shadow:  0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
        cursor: pointer;
    }
    img{
        opacity: 0.7;
        width: 100%;
        transition: opacity 0.7;
        &:hover{
            opacity: 1;
        }
    }

    .card-inner{
        padding: 10px;
    }
}

.no-hidden{
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
}

@media (max-width: 570px){
    .card{
        max-width: 350px;
        
        img{
            opacity: 1;
        }
    }
}